/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--text-weight);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
  padding: clamp(120px, 0.75vw + 117.2px, 128px) 0;
  margin: 100px auto;
  inline-size: 100%; /* TODO по заданию так, но не понятно зачем */
  font-family: var(--accent-font);
  background: #fff;
  border: 2px solid #000;
}

.header__title {
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(49px, 3.4vw + 36.25px, 65px);
  text-transform: uppercase;
  color: #000;
}

.header__subtitle {
  font-weight: 400;
  font-size: clamp(14px, 0.8vw + 11px, 23px);
  text-transform: uppercase;
  color: #000;
}

.card {
  background: #fff;
  border: 2px solid #000;
}

.card:not(:last-child) {
  margin-block-end: 50px;
}

.card__title {
  font-variation-settings: "wght" var(--title-weight);
  font-size: 18px;
  color: #000;
  margin: 4px 10px 6px;
  /* margin: 3px 10px 3px;  */ /* TODO для второй ширины */
}

.card__image-container {
  position: relative;
  inline-size: 100%;
}

.card__image {
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
  object-fit: cover;
  object-position: center;
  /* display: block; */
  inline-size: 100%;
}

.card__image-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

@supports ((-webkit-text-stroke: 1px #fff)) {
  .card__image-label {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-hue-rotate {
  filter: hue-rotate(270deg);
}

.filter-brightness {
  filter: brightness(0.7);
}

.filter-saturate {
  filter: saturate(3);
}

.filter-blur {
  filter: blur(2px);
}

.filter-multiple {
  filter: grayscale(70%) hue-rotate(270deg) brightness(0.7) saturate(3)
    blur(2px);
}

.filter-contrast {
  filter: contrast(0.4);
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #000;
}

.card__buttons-container {
  display: flex;
  gap: 12px;
  justify-content: end;
}

.button {
  position: relative;
  overflow: hidden; /* необходимо для метода с translate */
  z-index: 1;
  border: 2px solid #000;
  background: #fff;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: #000;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

/* Псевдоэлемент для эффекта заливки */
.button::before {
  content: "";
  position: absolute;
  inset: 0; /* покрываем всю кнопку */
  background-color: #000; /* черный фон для заливки */
  transform: translateX(-100%); /* начальное положение за пределами кнопки */
  transition: transform 0.5s ease-in-out; /* плавность анимации */
  z-index: -1;
}

/* Анимация при наведении */
.button:hover::before {
  transform: translateX(0); /* заливаем кнопку при наведении */
}

.card__like-button {
  padding: 12.5px 0;
  min-inline-size: 130px;
}

.button__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  font-family: var(--accent-font);
  position: relative;
  z-index: 1;
  color: #fff; /* белый текст для режима смешивания */
  mix-blend-mode: difference;
}

.page__button {
  margin: 52px auto 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 15px 20px;
  gap: 8px;
}

.modal-window {
  background: #fff;
  padding: 30px clamp(30px, -0.94vw + 43.52px, 40px);
  flex-direction: column;
  gap: 30px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  max-inline-size: clamp(341px, 335.4px + 1.5vw, 357px);
}

.modal-window[open] {
  display: flex; /* Меняем на flex только когда окно открыто */
}

.modal-window::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-window__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal-window__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal-window__text {
  line-height: 150%;
  font-family: var(--accent-font);
}

.modal-window__button {
  text-transform: uppercase;
  padding: 11px 0;
  inline-size: 100%;
}

.floppy-icon {
  block-size: 28px;
  inline-size: 28px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference; /* чтобы иконка тоже меняла цвет */
  fill: #fff; /* устанавливаем белое заполнение для SVG */
}

@media (width < 376px) {
  .page__button {
    flex-direction: column;
  }
}
